@media (max-width: 1023px) {
  :root {
    --container-padding: 24px;
  }
}

@media (max-width: 767px) {
  :root {
    --container-padding: 16px;
  }
}

@media (min-width: 1280px) {
  .container {
    --container-padding: 32px;
  }
}
